<p>Dobrý den,<br>
Na základě předchozí domluvy s naším personálem si Vám dovolujeme zaslat odkaz na webovou stránku, kde provedete platbu Vaší objednávky.</p>

<p>Odkaz na platbu: <a href="{{ url("payment_dummy", { payment: payment.id }) }}">{{ url("payment_dummy", { payment: payment.id }) }}</a></p>

<p>S pozdravem,<br>
Eurotours s.r.o.</p>
