<p>Dobrý den,<br>
Na základě předchozí domluvy s naším personálem si Vám dovolujeme zaslat odkaz na webovou stránku, kde provedete platbu Vaší objednávky.</p>

<p>Odkaz na platbu: <a href="{{ url("order_detail", { order: order.id }) }}">{{ url("order_detail", { order: order.id }) }}</a></p>

<p>S pozdravem,<br>
Eurotours s.r.o.</p>
