{% extends 'AppBundle:Frontend/Layout:Skeleton.html.twig' %}

{% block container %}
	<div class="container">
		<div class="col-md-8 col-lg-offset-2">
			<h1>Ochrana osobních údajů</h1>
			<h3>Souhlas se zpracováním osobních údajů.</h3>
			<p>Souhlasím se shromažďováním, uchováním a zpracováním osobních údajů obsažených v tomto formuláři Provozovatelem / správcem (příp. jeho zaměstnanci) pro účel stanovený níže. Tento souhlas uděluji pro všechny údaje obsažené v tomto formuláři, a to po celou dobu 5 (pěti) let ode dne udělení souhlasu. Zároveň jsem si vědom/a svých práv podle § 12 a 21 zákona č. 101/2000 Sb., o ochraně osobních údajů.Všechny údaje jsou přesné a pravdivé a poskytuji je dobrovolně.</p>
			<h3>Poučení podle § 12 a 21 zákona č 101/2000 Sb.</h3>
			<p>Subjekt údajů může požádat správce o informaci o zpracování svých osobních údajů. Správce je povinen tuto informaci bez zbytečného odkladu subjektu údajů předat. V případě, že osoba, která vyplnila tento formulář, zjistí nebo se domnívá, že správce provádí zpracování jejích osobních údajů, které je v rozporu s ochranou jejího soukromého a osobního života nebo v rozporu se zákonem, zejména jsou-li osobní údaje nepřesné s ohledem na účel jejich zpracování, má právo požádat správce o vysvětlení a odstranění takto vzniklého stavu, zejména se může jednat o blokování, provedení opravy, doplnění nebo likvidaci osobních údajů. Nevyhoví-li správce žádosti subjektu údajů, má tento právo obrátit se přímo na Úřad pro ochranu osobních údajů.</p>
			<h3>Účel zpracování osobních údajů</h3>
			<p>V souladu s § 5 zákona č. 101/2000 Sb. o ochraně osobních údajů jsou všechny údaje uvedené v tomto formuláři shromažďovány a zpracovávány výhradně za účelem zajištění cestovních služeb a dále nabízení výrobků a služeb subjektu údajů. Všechny údaje uvedené v tomto formuláři budou shromažďovány, zpracovány a uschovány též pro účely zasílání obchodních sdělení subjektu údajů prostřednictvím elektronických prostředků podle zákona č. 480/2004 Sb., o některých službách informační společnosti, a to do doby, kdy subjekt údajů přímo a účinně zašle správci informaci o tom, že si nepřeje, aby mu byly obchodní informace správcem nadále zasílány), maximálně však na dobu 5 (pěti) let. Subjekt údajů dále souhlasí s tím, že k poskytnutým údajům mohou být přiřazeny i další osobní údaje. Sumarizované údaje z tohoto formuláře mohou být použity správcem pro statistické účely, a to pro vnitřní potřebu správce.</p>
			<h3>Prohlášení správce</h3>
			<p>Správce prohlašuje, že bude shromažďovat osobní údaje v rozsahu nezbytném pro naplnění stanoveného účelu a zpracovávat je pouze v souladu s účelem k němuž byly shromážděny. Zaměstnanci správce nebo jiné fyzické osoby, které zpracovávají osobní údaje na základě smlouvy se správcem a další osoby jsou povinni zachovávat mlčenlivost o osobních údajích, a to i po skončení pracovního poměru nebo prací.</p>
		</div>
	</div>
{% endblock %}

