{% extends 'AppBundle:Frontend/Layout:Skeleton.html.twig' %}

{% block container %}
	<div class="container">
		<div class="col-md-8 col-lg-offset-2">
			<h2>Smluvní podmínky <small>pro rezervaci a nákup jízdenek v rezervačním a předprodejním systému pravidelné autobusové dopravy www.eurotours.cz</small></h2>
			﻿
			<p>Systém eShop Eurotours nabízí a zajišťuje rezervaci a prodej jízdenek na pravidelné autobusové linky dopravních společností v jimi definované předprodejní době. Provozovatelem systému je společnost EUROTOURS s.r.o., IČO: 25095161, sídlo firmy: ul. Kotorská 1580 / 38, 1400 00 Praha 4 - Nusle, prodejní místo: autobusové nádraží Praha Florenc, STARÁ HALA, ul. Křížikova 4-6, 186 00 Praha 8, tel.: +420 224 21 02 21, hotline: +420 724 13 23 65 (dále jen Provozovatel).</p>
			<p>Objednávajícím, resp. Kupujícím je osoba, která jízdenku rezervuje nebo nakupuje prostřednictvím aplikace www.eurotours.cz, osobně, telefonicky, faxem nebo emailem. Objednávající, resp. kupující sám nemusí přitom být cestující, proto tyto údaje provozovatel rozlišuje.</p>
			<p>Rezervace a nákup jízdenek v eShop Eurotours lze provést bez předchozí registrace.</p>

			<h3>Rezervace</h3>
			<p>Rezervací se rozumí bezplatné, nezávazné a dočasné zablokování jízdenky pro její pozdější zakoupení. Rezervaci provádí zákazník výběrem z možných spojení, která mu systém nabídne po vyplnění údajů o nástupní a cílové zastávce a dni odjezdu.</p>
			<p>Po zpracování rezervace provozovatel potvrdí klientovi provedení rezervace emailem a informuje zákazníka o konečné ceně jízdenky a o termínu, do kdy je možné rezervovanou jízdenku zakoupit. Provozovatel určí dobu platnosti rezervace v závislosti na termínu odjezdu a obsazenosti spoje. Je-li to možné, provozovatel přizpůsobí trvání rezervace požadavkům kupujícího.</p>
			<p>Rezervovanou jízdenku je možno zakoupit v provozní době pokladny EUROTOURS (ÚAN Praha Florenc, STARÁ HALA, ul. Křižikova 4-6, 186 00 Praha 8), platbou na bankovní účet nebo platbou kartou online. Číslo bankovního konta provozovatele je 63616339/0800 – Česká spořitelna (platbu může zákazník provést převodem z bankovního účtu nebo platbou v hotovosti na pokladně banky).</p>
			<p>Pokud dopravce na vybraný spoj umožňuje nákup e-jízdenky, lze rezervaci zakoupit on-line jako e-jízdenku uhrazením bezhotovostní platbou. E-jízdenku obdrží zákazník elektronickou poštou.</p>

			<h3>Nákup jízdenky</h3>
			<p>V průběhu rezervace, popř. nákupu zákazník zadá požadovaný počet jízdenek včetně konkrétních slev. Požaduje-li dopravce jméno cestujícího, je nutno zadat jméno konkrétního cestujícího, případně další požadované údaje (např. datum narození). Je nutno též zadat emailovou adresu, na kterou bude odesláno potvrzení rezervace a, v případě nákupu e-jízdenky, na kterou bude e-jízdenka doručena.</p>
			<p>Provozovatel se žádným způsobem nedostane do styku s citlivými údaji platební karty zákazníka, zejména k číslu platební karty, jménu držitele a době platnosti karty.</p>
			<p>Po úspěšně provedené platbě vystaví provozovatel e-jízdenku a odešle ji klientovi elektronickou poštou.</p>
			<p>Soubor e-jízdenky zašle Provozovatel zákazníkovi elektronickou poštou na adresu, kterou zákazník uvedl během rezervace/nákupu. Tento soubor si může zákazník zobrazit a vytisknout.</p>
			<p>Bez předložení vytištěné e-jízdenky a na vyzvání i dokladu potvrzujícího nárok na slevu nebude cestujícímu umožněn nástup do autobusu a e-jízdenka propadá bez náhrady. Pokud dopravce nepožaduje vytištění e-jízdenky, postačí se prokázat kódem e-jízdenky. Na tuto skutečnost je zákazník upozorněn v emailu s e-jízdenkou.</p>
			<p>V případě, že dopravce e-jízdenku na daný spoj nenabízí, odešle provozovatel standardní papírovou jízdenku doporučenou poštou. Veškeré náklady na doručení jízdenky doporučenou poštou v rámci ČR hradí provozovatel.</p>
			<p>Zaplacená jízdenka bude odeslána nejpozději následující pracovní den po připsání platby za jízdenku na účet provozovatele.</p>

			<h3>Údaje o cestujících</h3>
			<p>Na některých linkách vyžadují dopravci údaje o cestujících, např. jméno a příjmení, datum narození. V tomto případě jsou tyto údaje požadovány, na jízdenkách uváděny a jízdenky jsou nepřenosné.</p>
			<p>Zákazník je při výběru spoje informován o platných slevách pro daný spoj. Nárok na slevu musí cestující na vyžádání prokázat při nástupu do autobusu. Při neprávem nárokované slevě jízdného bude cestujícímu před nástupem doměřeno jízdné ve správné výši nebo může být i z přepravy bez náhrady vyloučen.</p>

			<h3>Obsazený spoj</h3>
			<p>Ve výjimečných případech se může stát, že objednaný spoj je plně obsazený. V tomto případě provozovatel objednávku nepotvrdí a nejpozději do následujícího pracovního dne nabídne kupujícímu alternativní spoj. Po jeho schválení kupujícím je objednávka takové jízdenky neprodleně realizována standardním postupem.</p>
			<p>Byla-li objednaná jízdenka na spoj plně obsazený současně uhrazena platbou online nebo na bankovní účet a nebude-li kupující souhlasit s alternativním spojem, provozovatel převede nejpozději do následujícího pracovního dne celou částku bez jakýchkoliv poplatků zpět kupujícímu.</p>

			<h3>Odpovědnost Provozovatele</h3>
			<p>Provozovatel neodpovídá za dopravce, jejichž odpovědnost se řídí příslušnými přepravními řády a smluvními přepravními podmínkami. Provozovatel nepřebírá zodpovědnost dopravců plynoucí z jejich přepravních řádů, jmenovitě nenese zodpovědnost za škody vzniklé zpožděním spoje nebo zmeškáním následného spoje či služeb, za zrušení spojů dopravcem a za neuskutečnění spoje z důvodu vyšší moci. Provozovatel nenese zodpovědnost za případné škody vzniklé kupujícímu včasným nepřevzetím e-jízdenky nebo jízdenky.</p>
			<p>Provozovatel je povinen chránit všechny osobní údaje o zákazníkovi, za žádných okolností je nepředávat třetí straně a nikdy nezneužívat kontaktů na zákazníka.</p>

			<h3>Odpovědnost zákazníka</h3>
			<p>Při nákupu jízdenky nebo e-jízdenky je zákazník povinen zkontrolovat (před odesláním rezervace/objednávky) všechny údaje, zejména trasu, datum odjezdu, vybraný spoj, jméno cestujícího, cenu, popř. vybranou slevu i emailovou adresu pro doručení potvrzení rezervace/objednávky, popř. e-jízdenky.</p>
			<p>Při vyzvednutí rezervace v prodejní kanceláři EUROTOURS musí zákazník zkontrolovat všechny údaje na jízdence ihned po jejím převzetí a v případě jakýchkoliv nesrovnalostí musí v místě nákupu ihned (nejpozději do 30 minut) po převzetí jízdenky požádat o storno nebo o změnu jízdenky.</p>
			<p>V případě obdržení e-jízdenky elektronickou poštou nebo papírové jízdenky doporučenou poštou je kupující povinen ihned po převzetí jízdenky zkontrolovat všechny na ní uvedené údaje, jsou-li v souladu s objednávkou. Nesouhlasí-li některý z údajů na jízdence s provedenou objednávkou, nejpozději do následujícího pracovního dne vyrozumí osobně, telefonicky, faxem nebo emailem provozovatele a na základě jeho instrukcí vrátí jízdenku doporučenou poštou či osobně. V případě oprávněné reklamace uhradí provozovatel kupujícímu veškeré náklady za doporučenou poštu a obratem po doručení reklamované jízdenky zašle jízdenku novou v souladu s původně provedenou objednávkou. Kupující musí reklamovanou jízdenku vrátit nepoškozenou, nepřepisovanou, s nepřeškrtanými údaji a se všemi jejími kupóny. Pokud toto nebude splněno, reklamace nemůže být uznána.</p>
			<p>Kupující je povinen respektovat jízdní řády a přepravní řád příslušného dopravce, s jehož zněním vyjadřuje objednávkou/nákupem jízdenky souhlas.</p>

			<h3>Stornování jízdenky a e-jízdenky</h3>
			<p>Při stornování doručené jízdenky kupující na vlastní náklady (doporučenou poštou či osobně) doručí jízdenku provozovateli, který v souladu se storno podmínkami dopravce provede stornování jízdenky (není-li telefonicky či e-mailem dohodnuto jinak, za den rozhodný pro storno se považuje den zpětného doručení jízdenky provozovateli). Po odečtení příslušného storno poplatku bude zbývající částka nejpozději do 3 dnů zaslána zpět na účet kupujícího nebo proplacena kupujícímu osobně.</p>
			<p>Vrácená částka za e-jízdenku zaplacenou online platební kartou bude zákazníkovi převedena na účet, ze kterého provedl úhradu.</p>

			<h3>Reklamace jízdenky a e-jízdenky</h3>
			<p>Za průběh přepravy odpovídá dopravce. Cestujícímu nevzniká nárok na úhradu případných škod způsobených zpožděním nebo zrušením spoje. Pokud ale cestující nepoužil jízdenku nebo e-jízdenku proto, že příslušný spoj byl zrušen, bude mu jízdné vráceno v plné výši.<p/>
			<p>O tuto náhradu musí zákazník požádat provozovatele osobně, emailem nebo telefonicky a musí předložit, popř. přiložit i reklamovanou jízdenku nebo e-jízdenku. Provozovatel se zavazuje potvrdit všechny takto přijaté reklamace do pěti pracovních dnů. Pokud zákazník během této lhůty potvrzení neobdrží, je nutno reklamační požadavek opakovat. Ve výjimečných případech může zákazník reklamaci a e-jízdenku zaslat faxem na číslo +420 224 218 700 nebo doporučeným dopisem zaslaným na adresu provozovatele.</p>
			<p>Provozovatel reklamaci ověří u dopravce a pokud se potvrdí její oprávněnost, vrátí zákazníkovi jízdné na účet, ze kterého byla provedena úhrada nebo kupujícímu osobně. O výsledku reklamačního řízení bude zákazník vyrozuměn.</p>

			<h3>Povinnost zákazníka</h3>
			<p>Každý cestující je osobně zodpovědný za dodržování pasových a celních předpisů zemí, do kterých cestuje nebo přes které projíždí. Veškeré náklady, které vzniknou nedodržením těchto předpisů, nese cestující. V případě, že cestujícímu celní nebo policejní orgány nedovolí pokračovat v cestě, nemá nárok na vrácení jízdného, a to ani jeho části či jinou náhradu.</p>
		</div>
	</div>
{% endblock %}

